* {
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 25, 25);
    color: rgb(194, 159, 250);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10%;
}

span {
    display: inline-block
}

.fadein {
    animation: fadein 2s;
    animation-timing-function: cubic-bezier(0,.25,0,.6);
    animation-delay: var(--delay);
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}